<div class="">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"><a type="button" class="btn btn-primary" href="/applications/1/applicants/new">Create new Applicant</a></div>
    <div class="col-md-8"><a type="button" class="btn btn-primary" href="/multiplemessages">Send message</a></div>
    <div class="col-md-8"><a type="button" class="btn btn-primary" href="/multipleassignment">Change Assignee</a></div>
    <div class="col-md-8"><a type="button" class="btn btn-primary" href="/multipletags">Add tag</a></div>
    <div class="col-md-8"><a type="button" class="btn btn-primary" href="/multiplestagechange">Change stage</a></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 vms-applicants-stages-bar">
      <a class="btn btn-default btn-stage btn-lg" href="/applicants">All {{ vm.total }}</a>
      <div ng-repeat="(name, stage) in vm.stages">
        <!-- TODO FIX APPLICATION ID LATER CURRENTLY THERE WILL BE ONLY ONE APPLICATION -->
	<a class="btn btn-default btn-stage btn-lg" href="/applications/1/stages/{{ stage.id }}/applicants">{{ name }} {{ stage.count }}</a>
      </div>

    </div>
  </div>
  <div class="row">
    <applicants applicants="vm.applicants"></applicants>
  </div>

  <!-- <a href="{{ vm.applicants.previous }}">Previous</a> -->
  <!-- <a href="{{ vm.applicants.next }}">Next</a> -->

</div>
