<!--<applicants applicants="vm.applicants"></applicants>-->
<div class="">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8"><a type="button" class="btn btn-primary" href="/applications/1/applicants/new">Create new Applicant</a></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 vms-applicants-stages-bar">
			<a class="btn btn-default btn-stage btn-lg" href="/applications/1/applicants">All</a>
			<a class="btn btn-default btn-stage btn-lg" href="/stages/1/applicants">Stage 1</a>
			<a class="btn btn-default btn-stage btn-lg" href="/stages/2/applicants">Stage 2</a>
                        <a class="btn btn-default btn-stage btn-lg" href="/stages/3/applicants">Stage 3</a>
		</div>
	</div>
	<div class="row">
		<applicants applicants="vm.applicants"></applicants>
	</div>

	<!-- <a href="{{ vm.applicants.previous }}">Previous</a> -->
	<!-- <a href="{{ vm.applicants.next }}">Next</a> -->

</div>
