<!--<a href="/applications/{{ vm.id }}/applicants/new">Create a new applicant</a>-->
<div class="">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"><a type="button" class="btn btn-primary" href="/applications/{{ vm.id }}/applicants/new">Create new Applicant</a></div>
    <div class="col-md-8"><a type="button" class="btn btn-primary" href="/multiplemessages">Send message</a></div>
    <div class="col-md-8"><a type="button" class="btn btn-primary" href="/multipleassignment">Change Assignee</a></div>
    <div class="col-md-8"><a type="button" class="btn btn-primary" href="/multipletags">Add tag</a></div>
    <div class="col-md-8"><a type="button" class="btn btn-primary" href="/multiplestagechange">Change stage</a></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 vms-applicants-stages-bar">
      <a class="btn btn-default btn-stage btn-lg" href="/applications/{{ vm.id }}/applicants">All</a>
      <div ng-repeat="stage in vm.stages">
	<a class="btn btn-default btn-stage btn-lg" href="/applications/{{ vm.id }}/stages/{{ stage.id }}/applicants">{{ stage.name }} {{ stage.applicant_set.length }}</a>
      </div>
    </div>
  </div>
  <div class="row">
    <applicants applicants="vm.applicants.results"></applicants>
  </div>

  <a href="{{ vm.applicants.previous }}" ng-show="vm.applicants.previous">Previous</a>
  <a href="{{ vm.applicants.next }}" ng-show="vm.applicants.next">Next</a>
</div>
