<h1>{{ vm.applicant.first_name }}</h1>
<h2>{{ vm.applicant.last_name }}</h2>
<h2>{{ vm.applicant.mobile }}</h2>
<h2>{{ vm.applicant.source }}</h2>
<hr />
<h2>Created on </h2>
{{ vm.applicant.created_at }} by {{ vm.applicant.created_by }}
<!-- TODO: COME BACK HERE TO CHANGE THE CREATOR to the first_name of the creator -->
<!-- Will have to modify the signup form -->
<a href="javascript:void(0)"
   ng-dialog="/staitc/templates/applicant_messages/new-message.html"
   ng-dialog-controller="NewMessageController as vm">New Message</a>
<applicant_messages="vm.applicant_messages"></applicant_messages>
