<h2>{{ vm.applicant.mobile }}</h2>
<tags tags="vm.tags"></tags>
<a href="/applications/{{ vm.applicant.application.id }}/applicants/{{ vm.applicant.id }}/tags/new">Add a tag</a>
<hr />
<a href="/applications/{{ vm.applicant.application.id }}/applicants/{{ vm.applicant.id }}/update">Update</a>
<h2>Created on </h2>
{{ vm.applicant.created_at }} by {{ vm.applicant.created_by.first_name }} {{ vm.applicant.created_by.last_name }}

<h2>Current Stage</h2>
<h4>{{ vm.applicant.stage.name }}</h4>

<select name="stages" ng-model="vm.stage" ng-change="vm.changeStage()">
  <option ng-repeat="stage in vm.stages" value="{{ stage.id }}">{{ stage.name }}</option>
</select>


<notes notes="vm.notes"></notes>
<a href="/applications/{{ vm.applicant.application.id }}/applicants/{{ vm.applicant.id }}/notes/new">Create a new internal note</a>

<messages messages="vm.messages"></messages>
<a href="/applications/{{ vm.applicant.application.id }}/applicants/{{ vm.applicant.id }}/messages/new">Write a new message</a>

<todos todos="vm.todos"></todos>
<a href="/applications/{{ vm.applicant.application.id }}/applicants/{{ vm.applicant.id }}/todos/new">Create a new todo</a>

<histories histories="vm.histories"></histories>
