<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8"><a type="button" class="btn btn-primary" href="/applications/{{ vm.id }}/applicants/new">Create new Applicant</a></div>
  <div class="col-md-8"><a type="button" class="btn btn-primary" href="/multiplemessages">Send message</a></div>
  <div class="col-md-8"><a type="button" class="btn btn-primary" href="/multipleassignment">Change Assignee</a></div>
  <div class="col-md-8"><a type="button" class="btn btn-primary" href="/multipletags">Add tag</a></div>
  <div class="col-md-8"><a type="button" class="btn btn-primary" href="/multiplestagechange">Change stage</a></div>
</div>
<applicants applicants="vm.applicants"></applicants>
