<form role="form" ng-submit="vm.update()">
  <div class="form-group">
    <table class="table table-responsive table-bordered">
      <tr>
        <td> <label for="name">Your Name : </label>
          <input id="name" name="name" type="text" class="form-control" placeholder="Name" ng-model="vm.data.data.volunteer_name"></td>
        <td><label for="organization">Organization : </label>
          <input id="organization" name="organization" type="text" class="form-control" placeholder="Name of Organization/GRC No" ng-model="vm.data.data.organization"></td>
      </tr>
    </table>
  </div>

  <div class="form-group">
    <label for="applicant__mobile">Mobile</label>
    <input class="form-control"
           id="applicant__mobile"
           rows="3"
           placeholder="e.g. 8095964981"
           ng-model="vm.data.mobile">
    </input>
  </div>

  <div id="categories" class="form-group">
    <table class="table table-bordered">
      <tr>
        <td><label for="cat_1">Category</label></td>
        <td>
          <label for="EWS">EWS</label>
          <input class="cat_radio" id="EWS" name="category" value="EWS" type="radio" ng-model="vm.data.data.category">&nbsp;&nbsp;&nbsp;
          <label for="SC_ST">SC/ST</label>
          <input class="cat_radio" id="SC_ST" name="category" value="SC_ST" type="radio" ng-model="vm.data.data.category">&nbsp;&nbsp;&nbsp;
          <label for="OBC_NC">OBC (Non Creamy)</label>
          <input class="cat_radio" id="OBC_NC" name="category" value="OBC_NC" type="radio" ng-model="vm.data.data.category">&nbsp;&nbsp;&nbsp;
          <label for="Physically_Mentally_challenged">Physically/Mentally challenged</label>
          <input class="cat_radio" id="Physically_Mentally_challenged" name="category" value="Physically_Mentally_challenged" type="radio" ng-model="vm.data.data.category">&nbsp;&nbsp;&nbsp;
          <label for="Orphan">Orphan</label>
          <input class="cat_radio" id="Orphan" name="category" value="Orphan" type="radio" ng-model="vm.data.data.category">&nbsp;&nbsp;&nbsp;
          <label for="Transgender">Transgender</label>
          <input class="cat_radio" id="Transgender" name="category" value="Transgender" type="radio" ng-model="vm.data.data.category">&nbsp;&nbsp;&nbsp;
        </td>
      </tr>
    </table>
  </div>

  <div class="form-group">
    <label for="no_of_children">*No. of eligible children:</label>
    <input id="no_of_children" name="no_of_children" type="number" min="0" class="form-control" placeholder="No. of eligible children" >
  </div>
  <div class="form-group" id="children_details_cont">
    <!-- Details of each child -->
    <table class="table table-responsive table-bordered table-striped">
      <tr><th colspan="4">Details:</th></tr>
      <tr>
        <th>*Name of child</th>
        <th>*Age</th>
        <th>*Gender</th>
        <th>*Any Disability</th>
      </tr>
    </table>
  </div>

  <div class="form-group">
    <table class="table table-responsive table-bordered">
      <tr>
        <td> <label for="father_name">Father's Name:</label>
          <input id="father_name" name="father_name" type="text" class="form-control" placeholder="Name of Father" ng-model="vm.data.data.father_name"></td>
        <td><label for="father_occupation">Father's Occupation:</label>
          <input id="father_occupation" name="father_occupation" type="text" class="form-control" placeholder="Occupation of Father" ng-model="vm.data.data.father_occupation"></td>
      </tr>
    </table>

  </div>
  <div class="form-group">
    <table class="table table-responsive table-bordered">
      <tr>
        <td><label for="mother_name">Mother's Name:</label>
          <input id="mother_name" name="mother_name" type="text" class="form-control" placeholder="Name of Mother" ng-model="vm.data.data.mother_name"></td>
        <td><label for="mother_occupation">Mother's Occupation:</label>
          <input id="mother_occupation" name="mother_occupation" type="text" class="form-control" placeholder="Occupation of Mother" ng-model="vm.data.data.mother_occupation"></td>
      </tr>
    </table>

  </div>
  <div id="documents">
    <label for="documents">Documents</label>
    <table class="table table-striped">
      <tr>
        <td>Address Proof</td>
        <td>
          <label for="AadhaarCard">Aadhaar Card</label>
          <input class="doc_chkbox" id="AadhaarCard" name="doc_list[]" value="AadhaarCard" type="checkbox" ng-model="vm.data.data.address.aadhar">&nbsp;&nbsp;
          <label for="PanCard">Pan Card</label>
          <input class="doc_chkbox" id="PanCard" name="doc_list[]" value="PanCard" type="checkbox" ng-model="vm.data.data.address.pan">&nbsp;&nbsp;
          <label for="RationCard">Ration Card</label>
          <input class="doc_chkbox" id="RationCard" name="doc_list[]" value="RationCard" type="checkbox" ng-model="vm.data.data.address.ration">&nbsp;&nbsp;
          <label for="VoterCard">Voter Card</label>
          <input class="doc_chkbox" id="VoterCard" name="doc_list[]" value="VoterCard" type="checkbox" ng-model="vm.data.data.address.voter">&nbsp;&nbsp;
          <label for="Licence">Licence</label>
          <input class="doc_chkbox" id="Licence" name="doc_list[]" value="Licence" type="checkbox" ng-model="vm.data.data.address.licence">&nbsp;&nbsp;
          <label for="Elec_WaterBill">Elec/Water Bill</label>
          <input class="doc_chkbox" id="Elec_WaterBill" name="doc_list[]" value="Elec_WaterBill" type="checkbox" ng-model="vm.data.data.address.bill">&nbsp;&nbsp;
        </td>
      </tr>
      <tr>
        <td>Birth Certificate</td>
        <td>
          <label for="HospitalRecord">Hospital Record</label>
          <input class="doc_chkbox" id="HospitalRecord" name="doc_list[]" value="HospitalRecord" type="checkbox" ng-model="vm.data.data.birth.hospital">&nbsp;&nbsp;
          <label for="AnganwadiRecord">Anganwadi Record</label>
          <input class="doc_chkbox" id="AnganwadiRecord" name="doc_list[]" value="AnganwadiRecord" type="checkbox" ng-model="vm.data.data.birth.anganwadi" birth.>&nbsp;&nbsp;
          <label for="BirthCertificate">Birth Certificate</label>
          <input class="doc_chkbox" id="BirthCertificate" name="doc_list[]" value="BirthCertificate" type="checkbox" ng-model="vm.data.data.birth.birth">&nbsp;&nbsp;
          <label for="SelfAffidavit">Self Affidavit</label>
          <input class="doc_chkbox" id="SelfAffidavit" name="doc_list[]" value="SelfAffidavit" type="checkbox" ng-model="vm.data.data.birth.self">&nbsp;&nbsp;
        </td>
      </tr>
      <tr>
        <td>Income Certificate</td>
        <td>
          <label for="BPLCard">BPL Card</label>
          <input class="doc_chkbox" id="BPLCard" name="doc_list[]" value="BPLCard" type="checkbox" ng-model="vm.data.data.income.bpl">&nbsp;&nbsp;
          <label for="AAYRationCard">AAY Ration Card</label>
          <input class="doc_chkbox" id="AAYRationCard" name="doc_list[]" value="AAYRationCard" type="checkbox" ng-model="vm.data.data.income.ration">&nbsp;&nbsp;
          <label for="FoodSecurityCard">Food Security Card</label>
          <input class="doc_chkbox" id="FoodSecurityCard" name="doc_list[]" value="FoodSecurityCard" type="checkbox" ng-model="vm.data.data.income.food">&nbsp;&nbsp;
          <label for="IncomeCertificate">Income Certificate</label>
          <input class="doc_chkbox" id="IncomeCertificate" name="doc_list[]" value="IncomeCertificate" type="checkbox" ng-model="vm.data.data.income.income">&nbsp;&nbsp;
        </td>
      </tr>
      <tr>
        <td>Category Certificate</td>
        <td>
          <label for="CasteCertificate">Delhi Caste Certificate</label>
          <input class="doc_chkbox" id="CasteCertificate" name="doc_list[]" value="CasteCertificate" type="checkbox" ng-model="vm.data.data.category.caste">&nbsp;&nbsp;
        </td>
      </tr>
      <tr>
        <td>Disability Certificate</td>
        <td>
          <label for="MedicalCertificate">Medical Certificate from Govt. Hospital</label>
          <input class="doc_chkbox" id="MedicalCertificate" name="doc_list[]" value="MedicalCertificate" type="checkbox" ng-model="vm.data.data.disability.medical">&nbsp;&nbsp;
        </td>
      </tr>
      <tr>
        <td>Orphan Certificate</td>
        <td>
          <label for="OrphanCertificate">Certificate from WCD</label>
          <input class="doc_chkbox" id="OrphanCertificate" name="doc_list[]" value="OrphanCertificate" type="checkbox" ng-model="vm.data.data.orphan.orphan">&nbsp;&nbsp;
        </td>
      </tr>
    </table>
  </div>

  <div class="form-group">
    <label for="alt_phone">Alternate Phone No. (10 digits):</label>
    <input id="alt_phone" name="alt_phone" type="text" class="form-control" placeholder="Phone No." ng-model="vm.data.data.alternate_number">
  </div>

  <div class="form-group">
    <table class="table table-responsive table-bordered">
      <tr>
        <td rowspan="5"><label>Address: </label></td>
      </tr>
      <tr>
        <td><input id="line_1" name="line_1" type="text" class="form-control" placeholder="House No." ng-model="vm.data.data.address.house_no"></td>
      </tr>
      <tr>
        <td><input id="line_2" name="line_2" type="text" class="form-control" placeholder="Area" ng-model="vm.data.data.address.area"></td>
      </tr>
      <tr>
        <td><input id="line_3" name="line_3" type="text" class="form-control" placeholder="Locality" ng-model="vm.data.data.address.locality"></td>
      </tr>
      <tr>
        <td><input id="addr_pincode" name="addr_pincode" type="number" class="form-control" min="0" placeholder="Pin Code" ng-model="vm.data.data.address.pin"></td>
      </tr>
    </table>
  </div>


  <div class="form-group">
    <label for="RTE1">Did you know anything about RTE Section 12?</label>
    <input class="rte_chkbox" id="RTE1" name="knew_rte[]" value="RTE1" type="checkbox" ng-model="vm.data.data.knowledge.rte">
    <br>
    <label for="RTE2">Did you know about Documents Required and the documentation procedure?</label>
    <input class="rte_chkbox" id="RTE2" name="knew_rte[]" value="RTE2" type="checkbox" ng-model="vm.data.data.knowledge.docs">
    <br>
    <label for="RTE3">Did you know that the school cannot charge anything for Admission, Tuition, uniform and
      books?</label>
    <input class="rte_chkbox" id="RTE3" name="knew_rte[]" value="RTE3" type="checkbox" ng-model="vm.data.data.knowledge.school">
    <br>
    <br>
  </div>
  <h4>Query Type:</h4>
  <ul id="queryTab" class="nav nav-tabs">
    <li class="active"><a href="#info1" data-toggle="tab">Info 1</a></li>
    <li><a href="#info2" data-toggle="tab">Info 2</a></li>
    <li><a href="#doc1" data-toggle="tab">Doc 1</a></li>
    <li><a href="#doc2" data-toggle="tab">Doc 2</a></li>
    <li><a href="#doc3" data-toggle="tab">Doc 3</a></li>
    <li><a href="#app1" data-toggle="tab">App 1</a></li>
    <li><a href="#app2" data-toggle="tab">App 2</a></li>
    <li><a href="#app3" data-toggle="tab">App 3</a></li>
    <li><a href="#lot1" data-toggle="tab">Lot 1</a></li>
    <li><a href="#lot2" data-toggle="tab">Lot 2</a></li>
    <li><a href="#lot3" data-toggle="tab">Lot 3</a></li>
  </ul>
  <div id="queryTabContent" class="tab-content form-group">
    <div class="tab-pane fade in active" id="info1">
      <table class="table table-striped table-bordered">
        <tr>
          <td><label for="info1a">RTE Section 12 ke baare me jankaari</label></td>
          <td><input class="query_chkbox" id="info1a" name="query_list[]" value="info1a" ng-model="vm.data.query.info1a" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="info1b">Category ke baare me poocha/bataya</label></td>
          <td><input class="query_chkbox" id="info1b" name="query_list[]" value="info1b" ng-model="vm.data.query.info1b" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="info1c">Documents ke baare me bataya</label></td>
          <td><input class="query_chkbox" id="info1c" name="query_list[]" value="info1c" ng-model="vm.data.query.info1c" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="info1d">Bache ki umar ke baare me bataya</label></td>
          <td><input class="query_chkbox" id="info1d" name="query_list[]" value="info1d" ng-model="vm.data.query.info1d" type="checkbox"></td>
        </tr>
      </table>
    </div>
    <div class="tab-pane fade" id="info2">
      <table class="table table-striped table-bordered">
        <tr>
          <td><label for="info2a">Indus Action Kya karta hai</label></td>
          <td><input class="query_chkbox" id="info2a" name="query_list[]" value="info2a"  ng-model="vm.data.query.info2a" type="checkbox"></td>
        <tr>
          <td><label for="info2b">Padosi ke ya rishtedaar ke bache ke baare me pucha</label></td>
          <td><input class="query_chkbox" id="info2b" name="query_list[]" value="info2b"  ng-model="vm.data.query.info2b" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="info2c">Volunteer/Community Champion ne call kiya</label></td>
          <td><input class="query_chkbox" id="info2c" name="query_list[]" value="info2c" ng-model="vm.data.query.info2c" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="info2d">Mazaak me phone kiya</label></td>
          <td><input class="query_chkbox" id="info2d" name="query_list[]" value="info2d" ng-model="vm.data.query.info2d" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="info2e">Non Delhi Caller</label></td>
          <td><input class="query_chkbox" id="info2e" name="query_list[]" value="info2e" ng-model="vm.data.query.info2e" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="info2f">Bache ki umar 3-6 me nahi aati</label></td>
          <td><input class="query_chkbox" id="info2f" name="query_list[]" value="info2f" ng-model="vm.data.query.info2f" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="info2g">Last year caller, school paise maang raha hai</label></td>
          <td><input class="query_chkbox" id="info2g" name="query_list[]" value="info2g" ng-model="vm.data.query.info2g" type="checkbox"></td>
        </tr>
      </table>
    </div>
    <div class="tab-pane fade" id="doc2">
      <table class="table table-striped table-bordered">
        <tr>
          <td><label for="doc2a">Sarkari officer meri baat nahi sun raha</label></td>
          <td><input class="query_chkbox" id="doc2a" name="query_list[]" value="doc2a" ng-model="vm.data.query.doc2a" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="doc2b">Sarkari officer income certificate ke paise maangta hai</label></td>
          <td><input class="query_chkbox" id="doc2b" name="query_list[]" value="doc2b" ng-model="vm.data.query.doc2b" type="checkbox"></td>
        </tr>
      </table>
    </div>
    <div class="tab-pane fade" id="doc1">
      <table class="table table-striped table-bordered">
        <tr>
          <td><label for="doc1a">Mere pass koi bhi document nahi hai</label></td>
          <td><input class="query_chkbox" id="doc1a" name="query_list[]" value="doc1a" ng-model="vm.data.query.doc1a" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="doc1b">Affidavit kya hota hai, kahan se milege?</label></td>
          <td><input class="query_chkbox" id="doc1b" name="query_list[]" value="doc1b" ng-model="vm.data.query.doc1b" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="doc1c">Document attest kis se karvane hai?</label></td>
          <td><input class="query_chkbox" id="doc1c" name="query_list[]" value="doc1c" ng-model="vm.data.query.doc1c" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="doc1d">Mujhe SDM office ka address bataiye</label></td>
          <td><input class="query_chkbox" id="doc1d" name="query_list[]" value="doc1d" ng-model="vm.data.query.doc1d" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="doc1e">Procedure for income certificate</label></td>
          <td><input class="query_chkbox" id="doc1e" name="query_list[]" value="doc1e" ng-model="vm.data.query.doc1e" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="doc1f">Procedure for caste certificate</label></td>
          <td><input class="query_chkbox" id="doc1f" name="query_list[]" value="doc1f" ng-model="vm.data.query.doc1f" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="doc1g">Procedure for birth certificate</label></td>
          <td><input class="query_chkbox" id="doc1g" name="query_list[]" value="doc1g" ng-model="vm.data.query.doc1g" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="doc1h">Procedure for disability certificate</label></td>
          <td><input class="query_chkbox" id="doc1h" name="query_list[]" value="doc1h" ng-model="vm.data.query.doc1h" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="doc1i">Procedure for orphan certificate</label></td>
          <td><input class="query_chkbox" id="doc1i" name="query_list[]" value="doc1i" ng-model="vm.data.query.doc1i" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="doc1j">Procedure for new address proof</label></td>
          <td><input class="query_chkbox" id="doc1j" name="query_list[]" value="doc1j" ng-model="vm.data.query.doc1j" type="checkbox"></td>
        </tr>
      </table>
    </div>
    <div class="tab-pane fade" id="doc3">
      <table class="table table-striped table-bordered">
        <tr>
          <td><label for="doc3a">Mere pitaji ke cast certificate chalega?</label></td>
          <td><input class="query_chkbox" id="doc3a" name="query_list[]" value="doc3a" ng-model="vm.data.query.doc3a" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="doc3b">Income certificate ke liye 3 saal ka proof maang rahe hain</label></td>
          <td><input class="query_chkbox" id="doc3b" name="query_list[]" value="doc3b" ng-model="vm.data.query.doc3b" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="doc3c">Husband wife alag alag jaati ke hain, kiska certificate chalega?</label></td>
          <td><input class="query_chkbox" id="doc3c" name="query_list[]" value="doc3c" ng-model="vm.data.query.doc3c" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="doc3d">Husband wife alag alag rehte hain</label></td>
          <td><input class="query_chkbox" id="doc3d" name="query_list[]" value="doc3d" ng-model="vm.data.query.doc3d" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="doc3e">Income certificate aane me bahut time lagta hai</label></td>
          <td><input class="query_chkbox" id="doc3e" name="query_list[]" value="doc3e" ng-model="vm.data.query.doc3e" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="doc3f">Income certificate ki raseed chalegi?</label></td>
          <td><input class="query_chkbox" id="doc3f" name="query_list[]" value="doc3f" ng-model="vm.data.query.doc3f" type="checkbox"></td>
        </tr>
      </table>
    </div>
    <div class="tab-pane fade" id="app1">
      <table class="table table-striped table-bordered">
        <tr>
          <td><label for="app1a">Application form kahan milega?</label></td>
          <td><input class="query_chkbox" id="app1a" name="query_list[]" value="app1a" ng-model="vm.data.query.app1a" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app1b">Mai kitne schoolo me apply kar sakta hun?</label></td>
          <td><input class="query_chkbox" id="app1b" name="query_list[]" value="app1b" ng-model="vm.data.query.app1b" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app1c">Mere area ke school ke baare me bataiye</label></td>
          <td><input class="query_chkbox" id="app1c" name="query_list[]" value="app1c" ng-model="vm.data.query.app1c" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app1d">Mere ghar ke 1-3 ke daayre me koi school nahi hai</label></td>
          <td><input class="query_chkbox" id="app1d" name="query_list[]" value="app1d" ng-model="vm.data.query.app1d" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app1e">Application form bharne ki dates kya hai</label></td>
          <td><input class="query_chkbox" id="app1e" name="query_list[]" value="app1e" ng-model="vm.data.query.app1e" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app1f">Mai online form bhar sakta hun?</label></td>
          <td><input class="query_chkbox" id="app1f" name="query_list[]" value="app1f" ng-model="vm.data.query.app1f" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app1g">Mai nervous hun kuch samajh nahi aa raha</label></td>
          <td><input class="query_chkbox" id="app1g" name="query_list[]" value="app1g" ng-model="vm.data.query.app1g" type="checkbox"></td>
        </tr>
      </table>
    </div>
    <div class="tab-pane fade" id="app2">
      <table class="table table-striped table-bordered">
        <tr>
          <td><label for="app2a">School EWS seats ke baare me bata nahi raha</label></td>
          <td><input class="query_chkbox" id="app2a" name="query_list[]" value="app2a" ng-model="vm.data.query.app2a" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app2b">School ke guard ache se baat nahi karte, andar bhi nahi jaane dete</label></td>
          <td><input class="query_chkbox" id="app2b" name="query_list[]" value="app2b" ng-model="vm.data.query.app2b" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app2c">School form nahi de raha, baat bhi ache se nahi karta</label></td>
          <td><input class="query_chkbox" id="app2c" name="query_list[]" value="app2c" ng-model="vm.data.query.app2c" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app2d">School keh raha ki sab seats bhar gayi</label></td>
          <td><input class="query_chkbox" id="app2d" name="query_list[]" value="app2d" ng-model="vm.data.query.app2d" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app2e">School mere form nahi le raha</label></td>
          <td><input class="query_chkbox" id="app2e" name="query_list[]" value="app2e" ng-model="vm.data.query.app2e" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app2f">School form nahi de raha kyuki mera ghar 1 km me nahi aata</label></td>
          <td><input class="query_chkbox" id="app2f" name="query_list[]" value="app2f" ng-model="vm.data.query.app2f" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app2g">School income certificate ki raseed nahi le raha</label></td>
          <td><input class="query_chkbox" id="app2g" name="query_list[]" value="app2g" ng-model="vm.data.query.app2g" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app2h">Schools section 12 me nahi aata - (minority school)</label></td>
          <td><input class="query_chkbox" id="app2h" name="query_list[]" value="app2h" ng-model="vm.data.query.app2h" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app2i">Schools books aur uniform ke paise maang raha hai</label></td>
          <td><input class="query_chkbox" id="app2i" name="query_list[]" value="app2i" ng-model="vm.data.query.app2i" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app2j">School ne application form ki raseed nahi di</label></td>
          <td><input class="query_chkbox" id="app2j" name="query_list[]" value="app2j" ng-model="vm.data.query.app2j" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app2k">School keh raha hai ki abhi tak dates nahi aayi</label></td>
          <td><input class="query_chkbox" id="app2k" name="query_list[]" value="app2k" ng-model="vm.data.query.app2k" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app2l">School ki dates over</label></td>
          <td><input class="query_chkbox" id="app2l" name="query_list[]" value="app2l" ng-model="vm.data.query.app2l" type="checkbox"></td>
        </tr>
      </table>
    </div>
    <div class="tab-pane fade" id="app3">
      <table class="table table-striped table-bordered">
        <tr>
          <td><label for="app3a">Form bharne me madad kari</label></td>
          <td><input class="query_chkbox" id="app3a" name="query_list[]" value="app3a" ng-model="vm.data.query.app3a" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app3b">Mai khud se form print karu/xerox karu to wo chalega?</label></td>
          <td><input class="query_chkbox" id="app3b" name="query_list[]" value="app3b" ng-model="vm.data.query.app3b" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app3c">Form attest kahan se karvana hai?</label></td>
          <td><input class="query_chkbox" id="app3c" name="query_list[]" value="app3c" ng-model="vm.data.query.app3c" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app3d">Gazzeted officer kahan milega?</label></td>
          <td><input class="query_chkbox" id="app3d" name="query_list[]" value="app3d" ng-model="vm.data.query.app3d" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="app3e">online form ka link diya (bit.do/ewsform)</label></td>
          <td><input class="query_chkbox" id="app3e" name="query_list[]" value="app3e" ng-model="vm.data.query.app3e" type="checkbox"></td>
        </tr>
      </table>
    </div>
    <div class="tab-pane fade" id="lot1">
      <table class="table table-striped table-bordered">
        <tr>
          <td><label for="lot1a">Lottery dates kab hai?</label></td>
          <td><input class="query_chkbox" id="lot1a" name="query_list[]" value="lot1a" ng-model="vm.data.query.lot1a" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="lot1b">Lottery kaise hogi?</label></td>
          <td><input class="query_chkbox" id="lot1b" name="query_list[]" value="lot1b" ng-model="vm.data.query.lot1b" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="lot1c">Lottery me mujhe jaana jaroori hai?</label></td>
          <td><input class="query_chkbox" id="lot1c" name="query_list[]" value="lot1c" ng-model="vm.data.query.lot1c" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="lot1d">School mujhe lottery ki dates ke baare me batayega?</label></td>
          <td><input class="query_chkbox" id="lot1d" name="query_list[]" value="lot1d" ng-model="vm.data.query.lot1d" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="lot1e">School ka 1-3 km ka daayara sahi nahi hai</label></td>
          <td><input class="query_chkbox" id="lot1e" name="query_list[]" value="lot1e" ng-model="vm.data.query.lot1e" type="checkbox"></td>
        </tr>
      </table>
    </div>
    <div class="tab-pane fade" id="lot2">
      <table class="table table-striped table-bordered">
        <tr>
          <td><label for="lot2a">School lottery ke dates nahi bata raha</label></td>
          <td><input class="query_chkbox" id="lot2a" name="query_list[]" value="lot2a" ng-model="vm.data.query.lot2a" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="lot2b">School ne bina bataye lottery karva di</label></td>
          <td><input class="query_chkbox" id="lot2b" name="query_list[]" value="lot2b" ng-model="vm.data.query.lot2b" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="lot2c">Lottery cancel ho gayi</label></td>
          <td><input class="query_chkbox" id="lot2c" name="query_list[]" value="lot2c" ng-model="vm.data.query.lot2c" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="lot2d">Lottery me koi bhi sarkari official ya principal nahi the</label></td>
          <td><input class="query_chkbox" id="lot2d" name="query_list[]" value="lot2d" ng-model="vm.data.query.lot2d" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="lot2e">Lottery ka video nahi liya</label></td>
          <td><input class="query_chkbox" id="lot2e" name="query_list[]" value="lot2e" ng-model="vm.data.query.lot2e" type="checkbox"></td>
        </tr>
      </table>
    </div>
    <div class="tab-pane fade" id="lot3">
      <table class="table table-striped table-bordered">
        <tr>
          <td><label for="lot3a">Lottery me mera naam nahi aaya, kya karu?</label></td>
          <td><input class="query_chkbox" id="lot3a" name="query_list[]" value="lot3a" ng-model="vm.data.query.lot3a" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="lot3b">Mere bache ka naam aa gaya, ab test/interview hoga kya?</label></td>
          <td><input class="query_chkbox" id="lot3b" name="query_list[]" value="lot3b" ng-model="vm.data.query.lot3b" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="lot3c">School interview/test ke liye bol raha hai</label></td>
          <td><input class="query_chkbox" id="lot3c" name="query_list[]" value="lot3c" ng-model="vm.data.query.lot3c" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="lot3d">waiting list me naam aaya, ab kya karu?</label></td>
          <td><input class="query_chkbox" id="lot3d" name="query_list[]" value="lot3d" ng-model="vm.data.query.lot3d" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="lot3e">Lottery me naam aaya lekin mere paas original documents nahi hain</label></td>
          <td><input class="query_chkbox" id="lot3e" name="query_list[]" value="lot3e" ng-model="vm.data.query.lot3e" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="lot3f">Application date extend ho gayi hai?</label></td>
          <td><input class="query_chkbox" id="lot3f" name="query_list[]" value="lot3f" ng-model="vm.data.query.lot3f" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="lot3g">Lottery me naam aa gaya lekin school paise maang raha hai</label></td>
          <td><input class="query_chkbox" id="lot3f" name="query_list[]" value="lot3f" ng-model="vm.data.query.lot3f" type="checkbox"></td>
        </tr>
      </table>
    </div>
  </div>


  <div class="form-group">
    <label for="RTE1">Did you know anything about RTE Section 12?</label>
    <input class="rte_chkbox" id="RTE1" name="knew_rte[]" value="RTE1" type="checkbox" ng-model="vm.data.knowledge.rte">
    <br>
    <label for="RTE2">Did you know about Documents Required and the documentation procedure?</label>
    <input class="rte_chkbox" id="RTE2" name="knew_rte[]" value="RTE2" type="checkbox" ng-model="vm.data.knowledge.docs">
    <br>
    <label for="RTE3">Did you know that the school cannot charge anything for Admission, Tuition, uniform and
      books?</label>
    <input class="rte_chkbox" id="RTE3" name="knew_rte[]" value="RTE3" type="checkbox" ng-model="vm.data.knowledge.school">
    <br>
    <br>
  </div>

  <h4>Information Sources:</h4>
  <ul id="infoSourceTab" class="nav nav-tabs">
    <li class="active"><a href="#massmedia" data-toggle="tab">Mass Media</a></li>
    <li><a href="#print" data-toggle="tab">Print Media</a></li>
    <li><a href="#wom" data-toggle="tab">Word of Mouth</a></li>
    <li><a href="#volunteers" data-toggle="tab">Volunteers</a></li>
    <li><a href="#location" data-toggle="tab">Location</a></li>
  </ul>
  <div id="infoSourceTabContent" class="tab-content form-group">
    <div class="tab-pane fade in active" id="massmedia">
      <table class="table table-striped table-bordered">
        <tr>
          <td><label for="TV">TV</label></td>
          <td><input class="info_source_chkbox" id="TV" name="info_source_list[]" value="TV" ng-model="vm.data.info.tv"  type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="Apna_Radio">Apna Radio - 96.9</label></td>
          <td><input class="info_source_chkbox" id="Apna_Radio" name="info_source_list[]" value="Apna_Radio" ng-model="vm.data.info.apna_radio" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="DU_Radio">DU Radio</label></td>
          <td><input class="info_source_chkbox" id="DU_Radio" name="info_source_list[]" value="DU_Radio" ng-model="vm.data.info.du_radio" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="JIMS_Rohini">JIMS Rohini</label></td>
          <td><input class="info_source_chkbox" id="JIMS_Rohini" name="info_source_list[]" value="JIMS_Rohini" ng-model="vm.data.info.jims_rohini" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="JIMS_VasantKunj">JIMS VasantKunj - 90.4</label></td>
          <td><input class="info_source_chkbox" id="JIMS_VasantKunj" name="info_source_list[]" value="JIMS_VasantKunj" ng-model="vm.data.info.jims_vasantkunj" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="Jamia_Radio">Jamia Radio</label></td>
          <td><input class="info_source_chkbox" id="Jamia_Radio" name="info_source_list[]" value="Jamia_Radio" ng-model="vm.data.info.jamia_radio" type="checkbox"></td>
        </tr>
      </table>
    </div>
    <div class="tab-pane fade" id="print">
      <table class="table table-striped table-bordered">
        <tr>
          <td><label for="poster">Poster</label></td>
          <td><input class="info_source_chkbox" id="poster" name="info_source_list[]" value="poster" ng-model="vm.data.info.poster" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="pamphlet">Pamphlet</label></td>
          <td><input class="info_source_chkbox" id="pamphlet" name="info_source_list[]" value="pamphlet" ng-model="vm.data.info.pamphlet" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="banner">Banner</label></td>
          <td><input class="info_source_chkbox" id="banner" name="info_source_list[]" value="banner" ng-model="vm.data.info.banner" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="sticker">Sticker</label></td>
          <td><input class="info_source_chkbox" id="sticker" name="info_source_list[]" value="sticker" ng-model="vm.data.info.banner" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="newspaper">Newspaper</label></td>
          <td><input class="info_source_chkbox" id="newspaper" name="info_source_list[]" value="newspaper" ng-model="vm.data.info.newspaper" type="checkbox"></td>
        </tr>
      </table>
    </div>
    <div class="tab-pane fade" id="wom">
      <table class="table table-striped table-bordered">
        <tr>
          <td><label for="husband_wife">Husband/Wife</label></td>
          <td><input class="info_source_chkbox" id="husband_wife" name="info_source_list[]" value="husband_wife" ng-model="vm.data.info.husband_wife" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="neighbours">Neighbours</label></td>
          <td><input class="info_source_chkbox" id="neighbours" name="info_source_list[]" value="neighbours" ng-model="vm.data.info.neighbours" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="relative">Relative</label></td>
          <td><input class="info_source_chkbox" id="relative" name="info_source_list[]" value="relative" ng-model="vm.data.info.relative" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="friend">Friend</label></td>
          <td><input class="info_source_chkbox" id="friend" name="info_source_list[]" value="friend" ng-model="vm.data.info.friend" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="street_play">Street Play</label></td>
          <td><input class="info_source_chkbox" id="street_play" name="info_source_list[]" value="street_play" ng-model="vm.data.info.street_play" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="database">Last year's database</label></td>
          <td><input class="info_source_chkbox" id="database" name="info_source_list[]" value="database" ng-model="vm.data.info.database" type="checkbox"></td>
        </tr>
      </table>
    </div>
    <div class="tab-pane fade" id="volunteers">
      <table class="table table-striped table-bordered">
        <tr>
          <td><label for="katha">Katha</label></td>
          <td><input class="info_source_chkbox" id="katha" name="info_source_list[]" value="katha" ng-model="vm.data.info.katha" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="sewa">Sewa</label></td>
          <td><input class="info_source_chkbox" id="sewa" name="info_source_list[]" value="sewa" ng-model="vm.data.info.sewa" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="pratham">Pratham</label></td>
          <td><input class="info_source_chkbox" id="pratham" name="info_source_list[]" value="pratham" ng-model="vm.data.info.pratham" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="NIIT">NIIT</label></td>
          <td><input class="info_source_chkbox" id="NIIT" name="info_source_list[]" value="NIIT" ng-model="vm.data.info.niit" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="Community_Champion">Community Champion</label></td>
          <td><input class="info_source_chkbox" id="Community_Champion" name="info_source_list[]" ng-model="vm.data.info.community_champion" value="Community_Champion" type="checkbox"></td>
        </tr>
      </table>
    </div>
    <div class="tab-pane fade" id="location">
      <table class="table table-striped table-bordered">
        <tr>
          <td><label for="GRC">GRC</label></td>
          <td><input class="info_source_chkbox" id="GRC" name="info_source_list[]" value="GRC" ng-model="vm.data.info.grc" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="Anganwadi">Anganwadi</label></td>
          <td><input class="info_source_chkbox" id="Anganwadi" name="info_source_list[]" value="Anganwadi" ng-model="vm.data.info.anganwadi" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="BSES">BSES</label></td>
          <td><input class="info_source_chkbox" id="BSES" name="info_source_list[]" value="BSES" ng-model="vm.data.info.bses" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="LPG">LPG</label></td>
          <td><input class="info_source_chkbox" id="LPG" name="info_source_list[]" value="LPG" ng-model="vm.data.info.lpg" type="checkbox"></td>
        </tr>
        <tr>
          <td><label for="Other">Other</label></td>
          <td><input class="info_source_chkbox" id="Other" name="info_source_list[]" value="Other" ng-model="vm.data.info.other" type="checkbox"></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="form-group">
    <label for="other_info_source">Other Information Sources/ Anything else : </label>
    <input id="other_info_source" name="other_info_source" type="text" class="form-control" ng-model="vm.data.info.other_source" placeholder="Other Sources">
  </div>

  <br>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">
      Update
    </button>
  </div>
</form>
