<form role="form" ng-submit="vm.submit()">
  <div class="form-group">
    <label for="applicant_message__template">Template</label>
    <select name="template" ng-model="vm.template" ng-change="vm.changeTemplate()">
      <option ng-repeat="template in vm.templates" value="{{ template.id }}">{{ template.title }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="applicant_message__message">Message</label>
    <input class="form-control"
           id="applicant_message__message"
           rows="3"
           placeholder="Write the message here..."
           ng-model="vm.filled_template.body">
    </input>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  </div>
</form>
