{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/Chart.js/Chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-chart.js/dist/angular-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-atomic-notify/dist/angular-atomic-notify.min.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/vendor/selection-model.min.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/vms.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/vms.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/vms.routes.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/update.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/dashboard.controller.js' %}"></script>


<script type="text/javascript" src="{% static 'javascripts/organizations/organizations.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/organizations/services/organizations.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/organizations/directives/organizations.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/organizations/directives/organization.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/organizations/controllers/organizations.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/organizations/controllers/new-organization.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/applications/applications.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applications/services/applications.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applications/controllers/dashboard.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applications/controllers/applications.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applications/controllers/new-application.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applications/controllers/detail.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applications/directives/applications.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applications/directives/application.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/stages/stages.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/stages/controllers/list.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/stages/controllers/new-stage.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/stages/controllers/stages.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/stages/services/stages.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/stages/directives/stages.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/stages/directives/stage.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/applicants/applicants.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicants/controllers/applicants.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicants/controllers/list.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicants/controllers/new-applicant.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicants/controllers/detail.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicants/controllers/stage-list.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicants/controllers/account-applicants.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicants/controllers/update.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicants/controllers/starred-applicants.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicants/controllers/multipleassignment.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicants/directives/applicants.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicants/directives/applicant.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicants/services/applicants.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/notes/notes.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/notes/services/notes.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/notes/controllers/new-note.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/notes/controllers/notes.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/notes/directives/notes.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/notes/directives/note.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/todos/todos.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/todos/services/todos.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/todos/controllers/new-todo.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/todos/controllers/todos.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/todos/controllers/list.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/todos/controllers/created_todos.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/todos/directives/todos.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/todos/directives/todo.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/applicant_messages/applicant_messages.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicant_messages/services/applicant_messages.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicant_messages/controllers/new-message.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicant_messages/controllers/applicant_messages.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicant_messages/controllers/multiple_messages.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicant_messages/directives/applicant_messages.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicant_messages/directives/applicant_message.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/history/history.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/history/services/history.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/history/controllers/history.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/history/directives/histories.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/history/directives/history.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/tags/tags.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/tags/services/tags.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/tags/controllers/tags.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/tags/controllers/new-tag.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/tags/controllers/applicant-list.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/tags/directives/tags.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/tags/directives/tag.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/inboxmessages/inboxmessages.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/inboxmessages/services/inboxmessages.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/inboxmessages/controllers/inboxmessages.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/inboxmessages/controllers/list.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/inboxmessages/directives/inboxmessages.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/inboxmessages/directives/inboxmessage.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/message_templates/message_templates.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/message_templates/services/message_templates.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/message_templates/controllers/message_templates.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/message_templates/controllers/list.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/message_templates/controllers/new-template.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/message_templates/directives/message_templates.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/message_templates/directives/message_template.directive.js' %}"></script>
{% endcompress %}
