{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/vms.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/vms.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/vms.routes.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/organizations/organizations.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/organizations/services/organizations.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/organizations/directives/organizations.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/organizations/directives/organization.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/organizations/controllers/organizations.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/organizations/controllers/new-organization.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/applications/applications.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applications/services/applications.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applications/controllers/dashboard.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applications/controllers/applications.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applications/controllers/new-application.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applications/controllers/detail.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applications/directives/applications.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applications/directives/application.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/stages/stages.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/stages/controllers/list.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/stages/controllers/new-stage.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/stages/controllers/stages.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/stages/services/stages.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/stages/directives/stages.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/stages/directives/stage.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/applicants/applicants.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicants/controllers/applicants.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicants/controllers/list.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicants/controllers/new-applicant.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicants/directives/applicants.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicants/directives/applicant.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/applicants/services/applicants.service.js' %}"></script>
{% endcompress %}
